@model IEnumerable<Turnos.Models.Especialidad>
<body>
    <h1>Especialidades</h1>
    <table class="responsive-table highlight z-depth-3 orange lighten-5">
            <thead  class="blue darken-1 white-text">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                    <th></th>
                </tr>
                
            </thead>
            <tbody>
                @*Aqui colocamos, mas adelante el codigo para mostrat los registros de la base de datos *@
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion) 
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdEspecialidad">Editar</a>
                            <a asp-action="Delete" asp-route-id="@item.IdEspecialidad">Eliminar</a>
                        </td>
                    </tr>    
                }
            </tbody>
        </table>
        <p>
    <a asp-action="Create"> Nuevo</a>
</p>
</body>
        